.Rproj.user
.Rhistory
.RData
spss_scripts
savs
scripts4tests/old
instrument_docs/pdfs/*
instrument_docs/*xls
instrument_docs/questionnaire-citations.txt
plots
*.Rdata
*.db
*.png
*.pptx
*.csv
*.pdf
*.sps
*.csv
*.xlsx
*.dat
*.txt
*.zip
variable_info.dat
Data Dictionary ADHD Master file.docx
Annette.R
